.hello-section {
	position: relative;
	height: 100vh;
	min-height: 500px;
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light-grey);

	&__header {
		font-size: 12rem;
		color: var(--header-color);
		background-image: url(../images/blot_small.png);
		background-size: cover;
		background-position: center;
		animation: showup 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	}
	&__description {
		padding: 2em;
		text-align: center;
		transform: translateY(100vh);
		animation: show 2s 0.5s ease-out forwards;
	}
	&__button {
		a {
			text-decoration: none;
			color: var(--main-color);
		}
		transform: translateY(100vh);
		animation: show 2s 0.5s ease-out forwards;
		font-family: 'Roboto', sans-serif;
		padding: 1em 2em;
		border-radius: 25px;
		background: none;
		border: 1px solid var(--main-color);
		font-size: 1.4rem;
		text-transform: uppercase;
		transition: background-color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: var(--main-color-light);
		}
		&:focus {
			outline: none;
			background-color: var(--main-color-light);
		}
	}
	&__arrow {
		i {
			position: absolute;
			bottom: 1em;

			font-size: 2rem;
			color: var(--main-color);
			animation: bounce 2s ease-out infinite;
			transition: color 0.3s;

			&:hover {
				color: var(--main-color-hover);
			}
		}
	}
	.colour__circles {
		position: relative;
		margin-top: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(100vh);
		animation: show 2s 0.5s ease-out forwards;
		.colour__modal {
			position: absolute;
			width: 200px;
			height: 60px;
			top: 4em;
			right: 1em;
			background-color: var(--main-color-light);
			transition: display 0.3s;
			border-radius: 10px;
			border: 1px solid var(--main-color);

			p {
				line-height: 1.4em;
				margin-top: 0.8em;
				text-align: center;
				font-size: 1.4rem;
				font-family: 'Roboto', sans-serif;
				color: var(--dark-grey);
			}
		}
		i {
			pointer-events: none;
		}
		.colour__circle {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			margin: 1em;
			opacity: 0.7;
			cursor: pointer;
			transition: opacity 0.3s;
			&--orange {
				background-color: var(--orange-circle-color);
				&:hover {
					opacity: 1;
				}
			}
			&--purple {
				background-color: var(--purple-circle-color);
				&:hover {
					opacity: 1;
				}
			}
			&--blue {
				background-color: var(--blue-circle-color);
				&:hover {
					opacity: 1;
				}
			}
		}
		.question-mark {
			width: 30px;
			height: 30px;
			font-size: 2.2rem;
			margin: 0.5em;
			text-align: center;
			cursor: pointer;
			color: var(--dark-grey);
			border: none;
			cursor: pointer;
		}
	}
}
